<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>

</head>
{% block content %}

{% if all_categories %}

    {% for category in all_categories %}

        {% csrf_token %}
         <tr>
             <td ><a href="{% url 'category_page' category.id %}">{{category.name}}</a></td>
         </tr>



    {% endfor %}

{% endif %}

{% csrf_token %}
    <form class="container" action="{% url 'basket' %}">

      <button>Перейти в корзину</button>
    </form>

{% endblock %}

</body>
</html>