{% block title %}{% endblock %}


{% block content %}

{% if product %}

        {% csrf_token %}
         <tr>
             <td ><a>{{product.name}}</a></td><br>
               <td ><a>{{product.description}}</a></td><br>
               <td ><a>{{product.price}}р</a></td><br>
               <td ><a>В наличии {{product.in_stock_now}} штук</a></td><br>
         </tr>

<form class="container" action="{% url 'sweet:home' %}">
      <button>Продолжить покупки</button>
</form>
<form class="container" action="{% url 'cart:basket' %}">
      <button>Перейти в корзину</button>
</form>


{% endif %}

{% endblock %}